<div class="form-container">
  <h2>Modifier rendez-vous</h2>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Description</mat-label>
      <input matInput formControlName="description" required>
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Start Time</mat-label>
      <input matInput type="datetime-local" formControlName="startTime" required>
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>End Time</mat-label>
      <input matInput type="datetime-local" formControlName="endTime" required>
    </mat-form-field>

    <!-- Sélection Lead -->
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Sélectionner un Lead</mat-label>
      <mat-select formControlName="leadId" required>
        <mat-option *ngFor="let lead of leads" [value]="lead.id">
          {{ lead.firstName }} {{ lead.lastName }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <!-- Sélection User -->
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Sélectionner un Agent</mat-label>
      <mat-select formControlName="userId" required>
        <mat-option *ngFor="let user of users" [value]="user.id">
          {{ user.fullName ? user.fullName : user.user }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid" class="submit-btn">
      Mettre à jour
    </button>
  </form>
</div>
